<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>CMAA Portal</title>

    <!--Bootstrap, jQuery CDN-->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <style>
    .list-group-item:hover{
       background-color: LightGray;
    }
    .list-group-item:active{
       background-color: green;
    }
    legend{
      font-size:18px;
    }
    </style>

  </head>

  <body id="page-top" >

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-danger sticky-top" id="mainNav">
      <div class="container justify-content-start">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
          <img src="img/cmaa.gif" width="50" height="50" class="d-inline-block align-top" alt="">
          <a class="text-white" style="font-size:24px">Chinese Mutual Aid Association</a>
        </a>
        
      </div><ul class="navbar-nav">
      <li class="nav-item" id="logout" style="padding-right:200px;font-size:18px">
        <a class="nav-link" href="../index.html#work">Logout</a></li>
    </ul>
    </nav>
    <br>
    <div class="container align-item-center">
        <ul class="nav nav-pills">
      <li class="nav-item">
        <a class="nav-link active" id="eng" href="#">English</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="viet" href="#">Tiếng Việt</a>
      </li>
    </ul>
  </div>

    <div class="container align-middle">
      <div class="row h-100">
      <div class="col-sm-12 my-auto" style="padding-top:20px">
      <div class="card card-body w-200 mx-auto" >
      <div class="card-header">
        <h3 id="cif">Client Intake Form</h3>
      </div>
      <form action="https://docs.google.com/forms/d/e/1FAIpQLSdFfmBWJlpPiC5TYM5XeQQSOqXnuEd6Kjg9DLgfv8yAnD8EHg/formResponse"
      target="_self"
      id="bootstrapForm"
      method="POST">

      <br>
    <!-- Field type: "short" id: "1633920210" -->
    <fieldset>
        <legend for="1633920210" id="1">Child&#x27;s First Name</legend>
        <div class="form-group">
            <input id="2005620554" type="text" name="entry.2005620554" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "227649005" -->
    <fieldset>
        <legend for="227649005" id="2">Child&#x27;s Last Name</legend>
        <div class="form-group">
            <input id="1045781291" type="text" name="entry.1045781291" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "790080973" -->
    <fieldset>
        <legend for="790080973" id="3">Child&#x27;s Middle Initial</legend>
        <div class="form-group">
            <input id="1065046570" type="text" name="entry.1065046570" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "1770822543" -->
    <fieldset>
        <legend for="1770822543" id="4">Street Address</legend>
        <div class="form-group">
            <input id="1166974658" type="text" name="entry.1166974658" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "paragraph" id: "1846923513" -->
    <fieldset>
        <legend for="1846923513" id="5">Apartment Number (if applicable)</legend>
        <div class="form-group">
            <textarea id="839337160" name="entry.839337160" class="form-control" ></textarea>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "574715991" -->
    <fieldset>
        <legend for="574715991" id="6">Telephone Number</legend>
        <div class="form-group">
            <input id="192856344" type="text" name="entry.192856344" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "65972893" -->
    <fieldset>
        <legend for="65972893" id="7">Child&#x27;s Ethnicity</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1837063725" value="Hispanic" required>
                    Hispanic/Gốc Tây Ban Nha
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1837063725" value="Non-Hispanic" required>
                    Non-Hispanic/Không phải gốc Tây Ban Nha
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1132866684" -->
    <fieldset>
        <legend for="1132866684" id="8">Gender</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1478692706" value="Female" required>
                    Female/Giống cái
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1478692706" value="Male" required>
                    Male/Nam giới
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "807516432" -->
    <fieldset>
        <legend for="807516432" id="9">Age</legend>
        <div class="form-group">
            <input id="360509212" type="text" name="entry.360509212" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "date" id: "1767012857" -->
    <fieldset>
        <legend for="1767012857" id="10">Birthdate</legend>
        <div class="form-group">
            <input type="date" id="1921158738_date" placeholder="10/12/2018" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "521955658" -->
    <fieldset>
        <legend for="521955658" id="11">Race</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.268828327" value="American Indian/Alaskan Native" required>
                    American Indian/Alaskan Native (Người Mỹ bản địa / người Alaska bản địa)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.268828327" value="Asian" required>
                    Asian/Châu Á
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.268828327" value="Black/African American" required>
                    Black/African American/Người Mỹ gốc Phi
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.268828327" value="Native Hawaiian/Other Pacific Islander" required>
                    Native Hawaiian/Other Pacific Islander/Thái Bình Dương
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.268828327" value="White" required>
                    White/Trắng
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.268828327" value="Other Multi Racial" required>
                    Other Multi Racial/Đa chủng tộc khác
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "470624696" -->
    <fieldset>
        <legend for="470624696" id="12">Current Grade (if in school) or Highest Level of Education Completed</legend>
        <div class="form-group">
            <input id="1350802771" type="text" name="entry.1350802771" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "1960500382" -->
    <fieldset>
        <legend for="1960500382" id="13">School</legend>
        <div class="form-group">
            <input id="732949405" type="text" name="entry.732949405" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1160777682" -->
    <fieldset>
        <legend for="1160777682" id="14">Disabled</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.2129456587" value="Yes" required>
                    Yes
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.2129456587" value="No" required>
                    No
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "1248368717" -->
    <fieldset>
        <legend for="1248368717" id="15">if yes, please specify</legend>
        <div class="form-group">
            <input id="862041540" type="text" name="entry.862041540" class="form-control" >
        </div>
    </fieldset>


    <!-- Field type: "short" id: "2044026318" -->
    <fieldset>
        <legend for="2044026318" id="16">Community Area</legend>
        <div class="form-group">
            <input id="934900350" type="text" name="entry.934900350" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "339975422" -->
    <fieldset>
        <legend for="339975422" id="17">Ward
</legend>
        <div class="form-group">
            <input id="1510858115" type="text" name="entry.1510858115" class="form-control" required>
        </div>
    </fieldset>


    <!-- Field type: "section" id: "1228747219" -->
    <fieldset>
        <legend for="1228747219" id="18">Head of Household Information</legend>
        <div class="form-group">
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1374430443" -->
    <fieldset>
        <legend for="1374430443" id="19">Family Type</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.178360050" value="Single Parent/Female" required>
                    Single Parent/Female (Độc thân / Nữ)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.178360050" value="Single Parent/Male" required>
                    Single Parent/Male (Đơn cha / Nam)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.178360050" value="Two-parent Household" required>
                    Two-parent Household (Hộ hai cha mẹ)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.178360050" value="Independent Youth" required>
                    Independent Youth (Thanh niên độc lập)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.178360050" value="Relative" required>
                    Relative (Quan hệ)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.178360050" value="Guardian" required>
                    Guardian (Người giám hộ)
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "1357444655" -->
    <fieldset>
        <legend for="1357444655" id="20">Housing Status</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.972621093" value="Rent" required>
                    Rent(Thuê)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.972621093" value="Own" required>
                    Own (Sở hữu)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.972621093" value="Homeless/Shelter" required>
                    Homeless/Shelter (Người vô gia cư / nơi trú ẩn)
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.972621093" value="In Temporary Housing" required>
                    In Temporary Housing (Trong nhà tạm)
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "855676711" -->
    <fieldset>
        <legend for="855676711" id="21">Food Stamps</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1986971560" value="Yes" required>
                    Yes/Vâng
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1986971560" value="No" required>
                    No/Không
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "752135830" -->
    <fieldset>
        <legend for="752135830" id="22">Free/Reduced Lunch</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1820690038" value="Yes" required>
                    Yes/Vâng
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1820690038" value="No" required>
                    No/Không
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "916970481" -->
    <fieldset>
        <legend for="916970481" id="23">Health Insurance</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1811196187" value="Yes" required>
                    Yes/Vâng
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.1811196187" value="No" required>
                    No/Không
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "choices" id: "698666418" -->
    <fieldset>
        <legend for="698666418" id="25">Income Source</legend>
        <div class="form-group">
            <div class="radio">
                <label>
                    <input type="radio" name="entry.2090400992" value="Employment" required>
                    Employment/Việc làm
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.2090400992" value="Pension" required>
                    Pension/Lương hưu
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.2090400992" value="TANF" required>
                    TANF
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.2090400992" value="Earnfare" required>
                    Earnfare
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.2090400992" value="Social Security" required>
                    Social Security/An ninh xã hội
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.2090400992" value="Unemployment Insurance" required>
                    Unemployment Insurance/Bảo hiểm thất nghiệp
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.2090400992" value="Other (including SSDI, Child Support, and VA Benefits)" required>
                    Other (including SSDI, Child Support, and VA Benefits)/Khác
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" name="entry.2090400992" value="SSI" required>
                    SSI
                </label>
            </div>
        </div>
    </fieldset>


    <!-- Field type: "short" id: "933252074" -->
    <fieldset>
        <legend for="933252074" id="25">Source of Referral (Location that Sent You)</legend>
        <div class="form-group">
            <input id="766449779" type="text" name="entry.766449779" class="form-control" >
        </div>
    </fieldset>

    <input type="hidden" name="fvv" value="1">
    <input type="hidden" name="fbzx" value="-4373031032914805134">
    <!--
        CAVEAT: In multipages (multisection) forms, *pageHistory* field tells to google what sections we've currently completed.
        This usually starts as "0" for the first page, then "0,1" in the second page... up to "0,1,2..N" in n-th page.
        Keep this in mind if you plan to change this code to recreate any sort of multipage-feature in your exported form.
        We're setting this to the total number of pages in this form because we're sending all fields from all the section together.
    -->
    <input type="hidden" name="pageHistory" value="0,1">

    <input class="btn btn-primary" type="submit" value="Submit">
</form>
    </div>
    </div>
    </div>
    <script>
      $( "#eng" ).on( "click", function() {
        $( this ).addClass( "active" );
        $("#viet").removeClass("active");
        $("#1").text("Child's First Name");
        $("#2").text("Child's Last Name");
        $("#3").text("Child's Middle Initial");
        $("#4").text("Street Address");
        $("#5").text("Apartment Number (if applicable)");
        $("#6").text("Telephone Number");
        $("#7").text("Child's Ethnicity");
        $("#8").text("Gender");
        $("#9").text("Age");
        $("#10").text("Birthdate");
        $("#11").text("Race");
        $("#12").text("Current Grade (if in school) or Highest Level of Education Completed");
        $("#13").text("School");
        $("#14").text("Disabled");
        $("#15").text("if yes, please specify");
        $("#16").text("Community Area");
        $("#17").text("Ward");
        $("#18").text("Head of Household Information");
        $("#19").text("Family Type");
        $("#20").text("Housing Status");
        $("#21").text("Food Stamps");
        $("#22").text("Free/Reduced Lunch");
        $("#23").text("Health Insurance");
        $("#24").text("Income Source");
        $("#25").text("Source of Referral (Location that Sent You)");
        $("#cif").text("Client Intake Form");
      });
      $( "#viet" ).on( "click", function() {
        $( this ).addClass( "active" );
        $("#eng").removeClass("active");
        $("#1").text("Tên đầu tiên của con");
        $("#2").text("Họ của trẻ");
        $("#3").text("Ban đầu của trẻ em");
        $("#4").text("Địa chỉ đường phố");
        $("#5").text("Số căn hộ (nếu có)");
        $("#6").text("Số điện thoại");
        $("#7").text("Sắc tộc của trẻ em");
        $("#8").text("Giới tính");
        $("#9").text("Tuổi tác");
        $("#10").text("Ngày sinh");
        $("#11").text("Cuộc đua");
        $("#12").text("Lớp hiện tại (nếu ở trường) hoặc cấp cao nhất của giáo dục đã hoàn thành");
        $("#13").text("Trường học");
        $("#14").text("Người khuyết tật");
        $("#15").text("Nếu có, xin vui lòng ghi rõ");
        $("#16").text("Khu vực cộng đồng");
        $("#17").text("khu vực");
        $("#18").text("Trưởng phòng Thông tin hộ gia đình");
        $("#19").text("Loại gia đình");
        $("#20").text("Tình trạng nhà ở");
        $("#21").text("Tem phiếu thực phẩm");
        $("#22").text("Bữa trưa miễn phí/giảm giá");
        $("#23").text("Bảo hiểm y tế");
        $("#24").text("Nguồn thu nhập");
        $("#25").text("Nguồn giới thiệu");
        $("#cif").text("Mẫu đăng ký khách hàng");
      });
    </script>

    <!-- Footer
    <footer class="py-5 bg-danger">
      <div class="container">
        <p class="m-0 text-center text-white">Code for Good Chicago 2018</p>
      </div>
    </footer>-->

  </body>

</html>
